<h1>Bonjour !</h1>

<p>Vous avez demandé à réinitialiser votre mot de passe pour votre compte Ultra PSG.
Pour définir un nouveau mot de passe, veuillez cliquer sur le lien ci-dessous :</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Ce lien est valable pendant {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>Si vous n’êtes pas à l’origine de cette demande, vous pouvez ignorer ce message. Votre mot de passe actuel restera inchangé.</p>

<p>Pour toute question ou assistance, n’hésitez pas à contacter notre support.</p>

<p>Cordialement, <br> L'equipe Ultra PSG</p>
