{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Les news{% endblock %}

{% block description %}Retrouvez toute l’actualité du Paris saint-Germain: dernières news, analyses, interviews et bien plus pour rester informé sur les sujets qui comptent.{% endblock %}

{% block keywords %}"PSG, Paris Saint-Germain, actualité PSG, news PSG, Ligue 1, Champions League, mercato PSG, transferts PSG, résultats PSG, calendrier PSG, joueurs PSG, Parc des Princes, supporters PSG, interviews PSG, club de football Paris, PSG fans"{% endblock %}

{% block main %}
    <h1 class="text-danger fw-bold fst-italic text-center my-3 display-5">LES NEWS</h1>
{% endblock %}