{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block description %}Bienvenue sur Ultra PSG ! Suivez l'actualité du club de la capitale comme ci vous y étiez !{% endblock %}

{% block keywords %}"PSG, Paris Saint-Germain, Paris SG, football, Ligue 1, PSG news, PSG matches, PSG joueurs, Parc des Princes, Champions League, PSG transferts, PSG fans, PSG resultats"{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">ULTRA PSG</h1>
{% endblock %}