{% extends 'themes/base_visitor.html.twig' %}

{% block title %}En attente de la vérification de l'email{% endblock %}

{% block description %}Veuillez vérifier votre email pour activer votre compte. Un lien de confirmation vous a été envoyé.{% endblock %}

{% block keywords %}"vérification email, confirmation email, activation compte, inscription, email de confirmation, compte en attente, valider email, sécurité compte, authentification, lien de confirmation, vérifier adresse email"{% endblock %}

{% block main %}

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h1 class="text-center my-3 display-5">En attente...</h1>
                <p>Veuillez vérifier votre email pour activer votre compte. Un lien de confirmation vous a été envoyé.</p>
            </div>
        </div>
    </div>

{% endblock %}